<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD0k4qK_7Us9UpwMCXKEK2S9St973Q2v_Q</string>
	<key>GCM_SENDER_ID</key>
	<string>1034184993455</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.surahyaseen.app</string>
	<key>PROJECT_ID</key>
	<string>surahyaseenx</string>
	<key>STORAGE_BUCKET</key>
	<string>surahyaseenx.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1034184993455:ios:db920178313099b80f825a</string>
</dict>
</plist>